* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #03d5fa;
    padding: 1px;
    font-family: Arial;
  }

  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  .navbar{
    display: flex;
   /*border: 2px solid rgb(199, 41, 41);*/
   background: #1FE7BF ;
   padding: 0.5px;

   
}

.logo{
   /*border: 2px solid rgb(199, 41, 41);*/
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.menu{
   /*border: 2px solid rgb(199, 41, 41);*/
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
  font-family: Monospace;
   list-style:none ;
   font-size: 18px;
}
.menu li a:hover{
   background-color: aliceblue ;
   font-weight: bold;
   transition: all ease 0.4s;
   
  
}
.menu li{
   margin: 0 3rem;
  
}
.menu li a{
   text-decoration: none;
   color: black;
}
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
 
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 33.33%;
    display: none; 
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1rem solid #1FE7BF ;
  }
  
  .content h4,p {
   text-align: center;
  }
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  .SLM {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: white;
    cursor: pointer;
  }

  .SLM:hover {
    background-color: rgb(189, 189, 189);
  }
  .SLM.active {
    background-color: rgb(4, 245, 173);
     color: white;
  }
  .Container{
      padding: 8px;
  }