*{margin: 2;
    padding: auto;

}

body{
    padding: 10;/*ใช้เพื่อสร้างช่องว่างของข้อความระหว่างรอบๆ*/ 
    background:rgb(112, 130, 211) ;
    
}

.clearfix{
    clear:both;
}

img{
    border-radius: 100%;
}
 header {  

text-align: left;
width: 1850px;
background-color: rgb(216, 199, 45);
margin: 0 auto;
font-size: 20;
padding: 10;
text-align: center;

}
.figure{

   padding: 60;
   margin-top: 20;
   text-align: center;
}
section{
color: tomato;
font-size: 24;
padding-left: 150;
padding-right: 200;
margin-left: 41px;   
margin-top: 20px;    
text-align: center;
width: 545px;
height: 400px;
float: left;
background:yellow}
 
aside{
    font-size: 24;
    padding-left: 150;
    padding-right: 200;
    margin-top: 20px;
    margin-left: 0;
    width: 545px;
    height: 400px;
    text-align: center;
    color: rgb(65, 0, 54);
    background:rgb(174, 221, 2);
    float:left;
}
table, th, td {
    border: 3px solid rgb(93, 2, 14); 
    text-align: center;
    margin: 10px;
    font-size: 30;
    padding: 3px;
    margin-left: 110;
    color: rgb(7, 7, 224);
    background-color: rgb(16, 220, 235);
    
   
    
   
}

.button{
 
    margin: 20;
    padding: 20;
    font-size: 20;
    text-align: center;
    background: rgb(233, 233, 116);
    text-align: right;
    color: rgb(21, 42, 231);
    

}
.login{
    text-align: right;
    color: rgb(10, 9, 10);
    background-color: rgb(217, 219, 187);
    
}

 .footer{
    
     background: rgb(65, 38, 165);
     color: rgb(50, 179, 243);
     font-size: 18;
 }

 
 .search{
font-size: 24;
color: rgb(211, 12, 12);
text-align: lift;
padding: 0;

 }